# =========================

# Robot Framework outputs

# =========================

output.xml
log.html
report.html
*.png
*.jpg
*.jpeg

# Diretórios de resultados

results/
reports/
output/
logs/

# =========================

# Python

# =========================

**pycache**/
*.py[cod]
*.pyo
*.pyd

# Virtual environments

venv/
env/
.venv/
ENV/

# =========================

# IDEs / Editores

# =========================

.vscode/
.idea/
*.iml

# =========================

# Sistema operacional

# =========================

.DS_Store
Thumbs.db

# =========================

# Arquivos temporários

# =========================

*.log
*.tmp
*.temp

# =========================

# Cache de testes

# =========================

.cache/
.pytest_cache/

# =========================